body {
    margin: 0;
    padding: 0;
}
*::before,
*::after,
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    margin: 0;  
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
ul  {
    padding: 0;
    
}
li {
    list-style: none;
}
.container {
    width: 1280px;
    max-width: 90%;
    margin: auto;
}

.header {
    background: #fff;
    opacity: 0.94;
}

.main-container {
    margin: 0 auto;
    
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    width: 1024px;
    max-width: 80%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem 0;
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    text-decoration: none;
}

.graff {    
    color: #3e3e3e;
}

.pink {
    color: #b73958;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.list-item {
    font-size: 1.05rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 3px 10px;
    text-align: center;
    color: #8c8a8a;
}

.list-item:hover {
    color: #fff;
    border-radius: 3px ;
    background: #de6d6e;
}

.png {
    margin-right: 5px;
}

.list li + li {
    margin-left: 30px;
}

.intro-container {
    position: relative;
    height: 585px;


    /* background: url(/img/intro-img.jpg) ; */
} 

.circle-huge {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 115px;
    height: 115px;  
    background: #fff;
    opacity: 0.6;
    border-radius: 50%;
}

.circle-medium {
    position: absolute;
    top: 39%;
    left: 49%;
    width: 92px;
    height: 92px;  
    background: #fff;
    opacity: 0.6;
    border-radius: 50%;
}

.circle-small {
    position: absolute;
    top: 48%;
    left: 52%;
    width: 71px;
    height: 71px;  
    background: #fff;
    opacity: 0.6;
    border-radius: 50%;
}

.welcome {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 4.3rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 3px 5px #3e3e3e;
    margin-bottom: -10px;
}

.welcome-text {

    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    padding: 0;
    padding-left: 60px;
}

.text {
    position: absolute;
    top: 69%;
    left: 25%;
}

.wrapper {
    display: flex;
    flex-direction: column;

}

.title {
    margin-top: 63px;
    text-align: center;
    margin-bottom: 70px;
}

.title-text {
    font-size: 2.2rem;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
}

.title-span-text {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color   : #8d8d8d;

}

.feature {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    text-align: center;

    /* border: 2px solid tomato; */
    border-radius: 50%;
    columns: #fff;
}

.img-margin {
    margin-top: 25px;
}

.blue {
    background: #4eb9f4;
}

.green {
    background: #6fc125;
}

.red {
    position: relative;
    background: #ff5649;
}

.brown {
    background: #e48f23;
}
.feature-text {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    font-size: 1rem;
    color: #fff;
}

.feature .feature-item + .feature-item {
    margin-left: 75px;
}

.beer-text {
    padding: 10px 10px 0 10px;
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

.beer-img {
    position: absolute;
    top: 21%;
    left: 35%;
    opacity: .7;
}
.beer {
    font-family: 'Open Sans', sans-serif;

    color: #fff;
    opacity: .7;
}

.wrapper-content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.content-item {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
}
.content-inf {
    margin-left: 25px;
}

.content-title {
    color: #404040;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.content-text {
    font-size: 1rem;
    line-height: 1.4;
}

.wrapper-footer {
    display: flex;
    background: #292c2b;
    padding-left: 10px;
}

.footer-inf {
    display: flex;
    margin-top: 20px;
    flex: 10%;
}

.footer-inf-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #aeaeae;
    /* margin-bottom: -5px; */
}
.footer-inf-item {
    padding: 10px;
    margin-right: 40px;
}

.list {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #717071;
    padding-bottom: 5px;
}

.social-link {
    flex: 40%;
    display: flex;
    flex-wrap: wrap;
}

.social-link-logo {
    margin-top: 25px;
    padding: 15px;
}

.size {
    color: #696b6a;
    font-size: 3rem;
}

.span-text {
    margin-left: 15px;
    color: #717071;
    margin-top: -90px;  
}